html {
    font-size: 62.5%;
    font-family: "Raleway", sans-serif;
}

main {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.photo {
    width: 60%;
    height: 100vh;
}

.photo img {
    height: 100vh;
}